{% extends 'layout.html' %}
{% block title %}Masuk{% endblock %}
{% block content %}
<div class="full-page-container">
    <div class="form-signin text-center">
        <form action="{{ url_for('login') }}" method="post">
            <a href="{{ url_for('index') }}" class="text-decoration-none text-muted d-block mb-4">
                <i class="fas fa-arrow-left me-1"></i>Kembali ke Halaman Utama
            </a>
            <i class="fas fa-atom fa-4x text-primary mb-4"></i>
            <h1 class="h3 mb-3 fw-normal">Masuk ke RUMI</h1>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username Anda" required>
                <label for="username">Username</label>
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    <label for="password">Password</label>
                </div>
                <span class="input-group-text">
                    <i class="fas fa-eye password-toggle-icon" style="cursor: pointer;" data-target="password"></i>
                </span>
            </div>
            <div class="checkbox my-3">
                <label><input type="checkbox" value="remember-me"> Ingat Saya</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">MASUK</button>
            <p class="mt-3 text-muted">Belum punya akun? <a href="{{ url_for('register') }}">Daftar</a></p>
            <p class="mt-1 text-muted">Orang Tua? <a href="{{ url_for('parent_access') }}">Akses di sini</a></p>
        </form>
    </div>
</div>
{% endblock %}